.gridContainer {
	display: none;
	position: absolute;
	top: 180px;
	width: 310px;
	bottom: 60px;
}

/* */
.gridContainerMsg {
	margin-top: 5px;
	font-size: 1.1em;
	color: #666;
	margin-left: 45px;
}

/* dGrid */
#grid {
	height: 85%;
	border: none;
	margin-left: 25px;
	margin-right: 5px;
}

/* Object ID */
#grid .field-objID {
	display: none;
}

/* Cell text (map name, scale, etc...) */
#grid .field-name {
	width: 90%;
}

/* Slider control */
#grid .field-transparency {
	width: 50%;
	position: absolute;
	left: 90px;
	margin-top: 30%;
}

#grid .dgrid-cell {
	border: none;
}

#grid .dgrid-row:hover {
	background-color: transparent;
	cursor: default;
}

#grid .dgrid-selected {
	background-color: transparent;
}

.dgrid-no-data,
.dgrid-loading {
	color: #aaa;
	font-size: 3em;
	padding: 3em;
	text-align: center;
}

.dgrid-scroller {
	overflow-y: auto !important;
	margin-top: 0 !important;
}

/* -------- Thumbnail --------- */
.thumbnailMapName {
	font-size: 0.8em;
	font-weight: 600;
	padding-top: 3px;
}

.thumbnailMapName:hover {
	cursor: pointer;
	color: #646464;
}

.thumbnailMapImprintYear {
	font-size: 0.8em;
	color: #707070;
}

.thumbnailMapScale {
	font-size: 0.8em;
	color: #707070;
}

/* -------- Download link -------- */
.downloadLink a:link {
	font-size: 0.8em;
	color: #666666;
}

.downloadLink a:visited {
	font-size: 0.8em;
	color: #666666;
}

.downloadLink a:hover {
	font-size: 0.8em;
	color: #1d2966;
	text-decoration: none;
}

.saveAsItem {
	font-size: 0.8em;
	color: #666666;
}

.saveAsItem:hover {
	font-size: 0.8em;
	color: #666666;
	cursor: pointer;
}

/*.downloadLink a:link {
	font-size: 0.70em;
	background-color: #e6e6e6;
	color: #606060;
	padding: 2px;
	border: 1px solid #BBBBBB;
	border-radius: 4px;
	width: 90px;
}

.downloadLink a:visited {
	font-size: 0.70em;
	background-color: #e6e6e6;
	color: #606060;
	padding: 2px;
	border: 1px solid #BBBBBB;
	border-radius: 4px;
	width: 90px;
}

.downloadLink a:hover {
	background-color: #c9c9c9;
	color: #1f1f1f;
	border: 1px solid #999999;
	text-decoration: none;
	cursor: pointer;
}

.downloadLink a:active {
	background-color: #fafafa;
	color: #1f1f1f;
	border: 1px solid #999999;
	cursor: pointer;
}*/

#grid-item-tooltip {
	z-index: 1000;
	height: 75px;
	width: 220px;
	margin-left: 60px;
	position: absolute;
	font-size: 0.75em;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
	color: #2c2c2c;
	line-height: 16px;
	padding: 8px 10px;
	opacity: 0.97;
}

/* -------- Remove Layer button -------- */
.rm-layer-btn {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 5px;
	border-radius: 12px;
	background-color: black;
	color: white;
	border: 1px solid rgb(255, 178, 178);
	opacity: 0.10;
	font-size: 0.8em;
}

.rm-layer-btn:hover {
	background-color: #3f3f3f;
	color: white;
	border: 1px solid rgb(255, 24, 36);
	opacity: 0.95;
}

.rm-layer-icon {
	width: 90px;
	float: left;
	padding: 4px;
}

.rm-tooltip-btn {
	width: 24px;
	height: 24px;
	position: absolute;
	left: -12px;
	top:-12px;
	border-radius: 12px;
	background-color: black;
	color: white;
	border: 1px solid rgb(255, 178, 178);
	opacity: 0.30;
	font-size: 0.8em;
}

.rm-tooltip-btn:hover {
	background-color: #3f3f3f;
	color: white;
	border: 1px solid rgb(255, 24, 36);
	opacity: 0.95;
}

/* -------- dGrid row -------- */
.dgrid-row {
	margin-bottom: 20px !important;
	height: 120px;
	width: 260px;
	border-radius: 4px;
}

/* -------- Slider -------- */
table > tr > td.dgrid-cell.dgrid-cell-padding.dgrid-column-3.field-transparency.dgrid-cell-editing {
	position: absolute;
	margin-top: 70px;
	margin-left: -100px;
}

.dgrid-cell-padding {
	/*padding: 0 !important;*/
}

.dgrid-row-table {
	margin-top: 10px !important;
}

.grid-map {
	background-color: rgb(218, 218, 218);
	border-radius: 4px;
	height: 120px;
	width: 260px;
	position: fixed;
	z-index: 300;
	opacity: 0.88;
	color: black;
	font-size: 1.2em;
}

html.has-mozilla .dgrid :focus, html.has-opera .dgrid :focus {
	outline: none !important;
}

.dijitSliderH {
	opacity: 0.40;
}

.dijitSliderH:hover {
	opacity: 0.85;
}
