/*#timeline-legend-container {
	display: none;
	position: absolute;
	width: 250px;
	height: 315px;
	margin-right: 5px;
	bottom: 0;
	padding: 5px;
	background-color: #F0FDED;
}*/

.timelineLegendHeader {
	font-size: 1.0em;
	color: #666;
	padding-bottom: 5px;
	margin-left: 55px;
}

.timeline-legend-container > div.btn-group.btn-group-vertical.topo-legend > label > span {
	font-size: 0.90em !important;
}

/* Container for selecting thumbnails and slider controls */
.toggle-scale {
	height: 30px;
	border-radius: 2px !important;
	margin: 5px;
}

.topo-legend {
	margin-left: 5px;
	width: 10px;
}

.topo-legend > label.btn.toggle-scale > span {
	margin-left: 20px;
}
